#obal {
    position: relative;
    margin: auto;
    max-width: 576px;

}

#odsazeni {
    padding-top: 30%;
}

#prvni, #druhy {
    height: 150px;
   font-size: xx-large;
   transition: background 0.2s;
}

#prvni:hover, #druhy:hover {
    background-color: grey;
    color: white;
    height: 150px;
   font-size: xx-large;
}

#polozka-0 {
font-size: xx-large;
font-weight: 700;
background-color: gold;
}
#polozka-1 {
    font-size: larger;
    font-weight: 600;
    background-color: silver;
    }
    #polozka-2 {
        font-size: large;
        font-weight: 400;
        background-color: brown;
        color: white;
        }